<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    {% block head %}
        <title>{{ projectname() }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>

        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

        <link href="{{ public_url()~ 'global/plugins/font-awesome/css/font-awesome.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/simple-line-icons/simple-line-icons.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/bootstrap/css/bootstrap.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/datatables/datatables.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' }}" rel="stylesheet" type="text/css"/>

        <link href="{{ public_url()~ 'global/plugins/select2/css/select2.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'global/plugins/select2/css/select2-bootstrap.min.css' }}" rel="stylesheet" type="text/css"/>

        <link href="{{ public_url()~ 'global/css/components-md.min.css' }}" rel="stylesheet" id="style_components" type="text/css"/>
        <link href="{{ public_url()~ 'global/css/plugins-md.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'layouts/layout4/css/layout.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'layouts/layout4/css/themes/default.min.css' }}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{ public_url()~ 'layouts/layout4/css/custom.min.css' }}" rel="stylesheet" type="text/css"/>
        <link href="{{ public_url()~ 'css/animates.css' }}" rel="stylesheet" type="text/css"/>
        <style type="text/css" media="screen">
            input[type="text"]::-webkit-input-placeholder {
                text-align: left;
            }
            input[type="text"]::-moz-placeholder { /* Firefox 19+ */
                text-align: left;
            }
            .dropdown-menu{
                min-width: 200px;
            }
            .page-logo a{
                text-decoration: none;
            }
            .page-logo a h3{
                font-weight: 600;
            }
        </style>
        {% block stylesheets %}

        {% endblock %}
        <script src="{{ public_url()~ 'global/plugins/jquery.min.js' }}" type="text/javascript"></script>
        <script src="{{ public_url()~ 'global/plugins/bootstrap/js/bootstrap.min.js' }}" type="text/javascript"></script>

        <link rel="shortcut icon" href="favicon.ico"/>
    {% endblock %}
</head>


<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">

    {% include 'base/header.twig' %}

    <div class="page-container">

        {% include 'base/menu.twig' %}

        <div class="page-content-wrapper">
            <div class="page-content">
                {# {% include 'base/breadcrumb.twig' %} #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'base/sideright.twig' %}

    </div>
{% include 'base/footer.twig' %}
    <!-- END QUICK NAV -->
<!--[if lt IE 9]>
<script src="{{ public_url()~ 'global/plugins/respond.min.js' }}"></script>
<script src="{{ public_url()~ 'global/plugins/excanvas.min.js' }}"></script>
<script src="{{ public_url()~ 'global/plugins/ie8.fix.min.js' }}"></script>
<![endif]-->


<script src="{{ public_url()~ 'global/plugins/js.cookie.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/jquery.blockui.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/scripts/datatable.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/datatables/datatables.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/select2/js/select2.full.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/scripts/app.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'pages/scripts/components-select2.min.js'}}" type="text/javascript"></script>
<script src="{{ public_url()~ 'layouts/layout4/scripts/layout.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'layouts/layout4/scripts/demo.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'layouts/global/scripts/quick-sidebar.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'layouts/global/scripts/quick-nav.min.js' }}" type="text/javascript"></script>
<script src="{{ public_url()~ 'global/plugins/bootbox/bootbox.min.js' }}" type="text/javascript"></script>
{# script donde se usa el datatable
    <script src="{{ public_url()~ 'pages/scripts/table-datatables-managed.min.js' }}" type="text/javascript"></script>
    #}
   {# <script src="{{ public_url()~ 'js/table-datatables-managed.js' }}" type="text/javascript"></script>#}
    <script src="{{ public_url()~ 'js/jquery.mask.js' }}"></script>
    <script src="{{ public_url()~ 'js/funciones.js' }}"></script>
    <script src="{{ public_url()~ 'js/librerias.js' }}"></script>
    <script src="{{ public_url()~ 'js/url.js' }}"></script>
    <script src="{{ public_url()~ 'js/jquery.idle.js' }}"></script>
    <script type="text/javascript">
        /*$(document).idle({
            onIdle: function(){
                alert('Su session a caducado');
                window.location=base_url('seguridad/users/logout');
            },
            //idle: 10000 10 segundos
            idle: 10000
        })*/
    </script>
    {% block javascript %}
    {% endblock %}
</body>


</html>