<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            {#<li class="heading">
                <h3 class="uppercase">Features</h3>
            </li>#}

            {% for menu in menu() %}
                {% set activo_p = '' %}
                {% set row_open = '' %}
                {% if menu.id == padre_id %}
                    {% set activo_p = 'active open' %}
                    {% set row_open = 'open' %}
                {% endif %}
                <li class="nav-item {{ activo_p }}">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="{{ menu.icono }}"></i>
                        <span class="title">{{ menu.modulo }}</span>
                        <span class="arrow {{ row_open }}"></span>
                    </a>
                    <ul class="sub-menu">
                        {% for submenu in submenu(menu.id) %}
                            {% set activo = ''  %}
                            {% if submenu.id == _id %}
                                {% set activo = 'active open' %}
                            {% endif %}

                            <li class="nav-item {{ activo }}">
                                <a href="{{base_url()~ submenu.route }}" class="nav-link ">
                                    <span class="title">{{ submenu.modulo }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>