<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Send</title>
    <script src="{{ public_url()~ 'global/plugins/jquery.min.js' }}"></script>
    <script src="{{ public_url()~ 'js/fancywebsocket.js' }}"></script>
    <script src="{{ public_url()~ 'js/url.js' }}"></script>
    <script>
        $(document).ready(function() {
            $('table tbody tr td span').click(function(event) {
                var id = $(this).attr('id');
                $.get(base_url('/pruebas/ChatController/conectar'), {id:id},function(data) {
                    send(data)
                    var url = base_url('/pruebas/ChatController/usuario/'+id)
                    window.location.href=url;
                });

            });
        });
    </script>
</head>
<body>

    <table border="1">
        <thead>
            <tr>
                <th>Persona</th>
                <th>Mensajes</th>
            </tr>
        </thead>
        <tbody>
            {% for mensaje in mensajes %}
                <tr>
                    <td>{{ mensaje.nombre }}</td>
                    <td style="text-align: right">
                        <span id="{{ mensaje.id }}" style="color: red;cursor: pointer">{{ mensaje.cant }}</span>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    <div id="mensajes">
        Mensajes:<span id="cantidad" style="color: red">{{ cant }}</span>
    </div>

</body>
</html>