<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Send</title>
    <script src="{{ public_url()~ 'global/plugins/jquery.min.js' }}"></script>
    <script src="{{ public_url()~ 'js/fancywebsocket.js' }}"></script>
    <script src="{{ public_url()~ 'js/url.js' }}"></script>
    <script>
        $(document).ready(function() {
            $('#enviar').click(function(){
                var mensaje     =  $('#mensaje').val()
                var personas_id =  $('#personas_id').find('option').filter(':selected').val();

                $.post(base_url('/pruebas/ChatController/guardar'), {mensaje:mensaje, personas_id:personas_id}, function(data, textStatus, xhr) {
                    send(data)
                });

            })
        });
    </script>
</head>

<body>
    <input type="text" name="mensaje" id="mensaje" /><br />
    <select name="personas_id" id="personas_id">
        {% for persona in personas %}
            <option value="{{ persona.id }}">{{ persona.nombre }}</option>
        {% endfor %}
    </select><br />
    <input type="button" id="enviar" value="enviar" />

    <div id="conectado" style="display: none">

    </div>
</body>
</html>