<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Send</title>
    <script src="{{ public_url()~ 'global/plugins/jquery.min.js' }}"></script>
    <script src="{{ public_url()~ 'js/fancywebsocket.js' }}"></script>
    <script src="{{ public_url()~ 'js/url.js' }}"></script>
    <script>

    </script>
</head>
<body>
    <table border="1" id="persona_{{ id }}">
        <thead>
            <tr>
                <th>Mensaje</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for mensaje in mensajes %}
                <tr>
                    <td id="mensaje">{{ mensaje.mensaje }}</td>
                    <td id="fecha">{{ mensaje.fecha }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
</body>
</html>