{% extends "base/base.twig" %}
{% import "base/form.twig" as forms %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}

    {% endblock %}
{% endblock %}
{% block content %}
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ titulo }}</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm green dropdown-toggle" href="javascript:;"
                data-toggle="dropdown"> Accion
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </li>
                    {#<li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Ban </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;"> Make admin </a>
                    </li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        {{ forms.form_open('frmmodulo', 'formulario') }}
        <div class="row">
            <div class="col-md-6">
                {{ forms.label({'id':'modulo', 'content':'Módulo'}) }}
                {{ forms.input_text({'attr':{'name': 'modulo', 'class':'form-control', 'placeholder':'Módulo','data':{'validate':'required|max(25)|min(3)', 'type':'alphaspace', 'text':'upper'}}}) }}
            </div>
            <div class="col-md-6">
                {{ forms.label({'id':'posicion', 'content':'Pósicion'}) }}
                {{ forms.input_text({'attr':{'name': 'posicion', 'class':'form-control', 'placeholder':'Pósicion', 'style':'direction: rtl; text-align: left;','data':{'validate':'required|max(25)|min(3)', 'type':'numeric'}}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ forms.label({'id':'directorios', 'class':'control-label', 'content':'Directorios'}) }}
                {{ forms.select_di('directorios', directories) }}
            </div>
            <div class="col-md-6">
                {{ forms.label({'id':'controller', 'class':'control-label', 'content':'Controller'}) }}
                <select name="controller" id="controller" class="form-control select2">
                    <option value="0">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                {{ forms.label({'id':'route', 'class':'control-label', 'content':'Route'}) }}
                {{ forms.input_text({'attr':{'name': 'route', 'class':'form-control', 'placeholder':'Route'}}) }}
            </div>
            <div class="col-md-6">
                {{ forms.label({'id':'modulo_id', 'class':'control-label', 'content':'Modulo Padre'}) }}
                <select name="modulos_id" id="modulos_id" class="form-control select2 select2-button-addons-single-input-group-sm">
                    <option value="0">Seleccione</option>
                    {% for modulo in modulos %}
                        <option value="{{ modulo.id }}">{{ modulo.modulo }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6" >
                <label for="span_small" class="control-label">Estatus</label>
                <div class="clearfix">
                    <div class="clearfix">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" class="toggle" name="activo" value="1" checked="checked"> Activo
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" class="toggle" name="activo" value="0"> Inactivo
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions" style="text-align: center">
            {{ forms.button({'attr':{'id':'guardar', 'class':'btn green uppercase'}}, 'Guardar') }}
            {{ forms.button({'attr':{'id':'cancelar', 'class':'btn yellow uppercase'}}, 'Cancelar') }}
        </div>
    </form>
    <table class="table  table-striped table-bordered table-hover table-checkable order-column" id="tmodulo">
        <thead>
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#tmodulo .checkboxes"/>
                        <span></span>
                    </label>
                </th>
                <th>#</th>
                <th>Modulo</th>
                <th>Posici&oacute;n</th>
                <th>Estatus</th>
                <th>Sub Modulo</th>
                <th>Posici&oacute;n</th>
                <th>Estatus</th>

            </tr>
        </thead>
        <tbody>
            {% for modulo in lista %}
                {% set modul = modulo.modulo %}
                {% set modpo = '' %}
                {% set modac = '' %}

                {% if modulo.modulo == '' %}
                    {% set modul = modulo.submodulo %}
                    {% set modpo = modulo.posicion %}
                    {% set modac = 'Activo' %}
                    {% if modulo.activo == 'f' %}
                        {% set modac = 'Inactivo' %}
                    {% endif %}
                {% endif %}

                {% set submodu  = '' %}
                {% set submodpo = '' %}
                {% set submodac = '' %}
                {% if modulo.modulo != '' %}
                    {% set submodu  = modulo.submodulo %}
                    {% set submodpo = modulo.posicion %}
                        {% set submodac = 'Activo' %}
                    {% if modulo.activo == 'f' %}
                        {% set submodac = 'Inactivo' %}
                        {% endif %}
                {% endif %}
            <tr class="odd gradeX" id="{{ modulo.id }}" data-id="{{ modulo.id }}">
                <td>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes" value="1"/>
                        <span></span>
                    </label>
                </td>
                <td>{{ '%02d'|format(loop.index) }}</td>
                <td> {{ modul }} </td>
                <td> {{ modpo }} </td>
                <td> {{ modac }}</td>
                <td> {{ submodu }}</td>
                <td> {{ submodpo }} </td>
                <td> {{ submodac }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascript %}
    <input type="hidden" name="folder" id="folder" value="{{ folder }}">
    <input type="hidden" name="file" id="file" value="{{ file }}>">
    <script src="{{ public_url()~ 'script/modulo.js' }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}