{% extends "base/base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> Pagina de inicio INFORMATICA</span>
        </div>
    </div>
     <div class="portlet-body form" style="height:500px;">

     </div>
{% endblock %}