{% extends "base/base.twig" %}
{% import "base/form.twig" as forms %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}

    {% endblock %}
{% endblock %}
{% block content %}
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ titulo }}</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm green dropdown-toggle" href="javascript:;"data-toggle="dropdown"> Accion
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="" id="eliminar">
                            <i class="fa fa-trash-o"></i> Eliminar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <div id="div-form">
            {{ forms.form_open('frmusers', 'frmusers') }}
            {{ forms.token(token) }}
            {{ forms.token(token,'token') }}
            <div class="row">
                <div class="col-md-4">
                    {{ forms.label({'id':'si_user', 'content':'Usuario'}) }}
                    {{ forms.input_text({'attr':{'name': 'si_user', 'class':'form-control', 'placeholder':'Usuario','data':{'validate':'required|max(20)|min(4)', 'type':'alphanumeric', 'text':'lower'}}}) }}
                </div>
                <div class="col-md-4">
                    {{ forms.label({'id':'first_name', 'content':'Nombre'}) }}
                    {{ forms.input_text({'attr':{'name': 'first_name', 'class':'form-control', 'placeholder':'Nombre','data':{'validate':'required|max(20)|min(2)', 'type':'alpha', 'text':'capitalize'}}}) }}
                </div>
                <div class="col-md-4">
                    {{ forms.label({'id':'last_name', 'content':'Apellido'}) }}
                    {{ forms.input_text({'attr':{'name': 'last_name', 'class':'form-control', 'placeholder':'Apellido','data':{'validate':'required|max(20)|min(2)', 'type':'alpha', 'text':'capitalize'}}}) }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    {{ forms.label({'id':'correo', 'content':'Correo'}) }}
                    {{ forms.input_text({'attr':{'name': 'correo', 'class':'form-control', 'placeholder':'Correo','data':{'validate':'required|enail', 'text':'lower'}}}) }}
                </div>
                <div class="col-md-4">
                    {{ forms.label({'id':'si_password', 'content':'Clave'}) }}
                    {{ forms.input_password({'attr':{'name': 'si_password', 'class':'form-control', 'placeholder':'Clave','data':{'validate':'required|max(20)|min(8)', 'type':'alpha', 'text':'capitalize'}}}) }}
                </div>
                <div class="col-md-4">
                    {{ forms.label({'id':'si_rpassword', 'content':'Repetir Clave'}) }}
                    {{ forms.input_password({'attr':{'name': 'si_rpassword', 'class':'form-control', 'placeholder':'Repetir Clave','data':{'validate':'required|max(20)|min(8)|match(si_password)', 'type':'alpha', 'text':'capitalize'}}}) }}
                </div>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-4">
                    {{ forms.label({'id':'perfil_id', 'content':'Perfil'}) }}
                    <select name="perfil_id" id="perfil_id" class="form-control select2 select2-button-addons-single-input-group-sm">
                        <option value="0">Seleccione</option>
                        {% for perfile in perfiles %}
                            <option value="{{ perfile.id }}">{{ perfile.perfil }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    {{ forms.label({'id':'perfil_id', 'content':'Nombre a Mostrar'}) }}
                    <select name="show_panel" id="show_panel" data-add="id" class="form-control input-sm select2">
                        <option value="1">Nombre de Usuario</option>
                        <option value="2">Nombre y Apellido</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="span_small" class="control-label">Estatus</label>
                    <div class="clearfix">
                        <div class="clearfix">
                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                <label class="btn btn-default active">Activo
                                    <input type="radio" class="toggle" name="active" value="1" checked="checked">
                                </label>
                                <label class="btn btn-default">Inactivo
                                    <input type="radio" class="toggle" name="active" value="0">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions" style="text-align: center">
                {{ forms.button({'attr':{'id':'guardar', 'class':'btn green uppercase'}}, 'Guardar') }}
                {{ forms.button({'attr':{'id':'cancelar', 'class':'btn yellow uppercase'}}, 'Cancelar') }}
            </div>
        </form>
    </div>
    <table class="table  table-striped table-bordered table-hover table-checkable order-column" id="tusers">
        <thead>
            <tr>
                <th>
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="group-checkable" data-set="#tusers .checkboxes"/>
                        <span></span>
                    </label>
                </th>
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Perfil</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in listar %}
                {% set estatus = 'Activo' %}
                {% if lista.active == '0' %}
                    {% set estatus = 'Inactivo' %}
                {% endif %}
                <tr class="odd gradeX" id="{{ lista.id }}" data-id="{{ lista.id }}">
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes" value="{{ lista.id }}"/>
                            <span></span>
                        </label>
                    </td>
                    <td>{{ '%02d'|format(loop.index) }}</td>
                    <td>{{ lista.si_user }}</td>
                    <td>{{ lista.first_name }}</td>
                    <td>{{ lista.last_name }}</td>
                    <td>{{ lista.perfil }}</td>
                    <td> {{ estatus }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ public_url()~ 'script/users.js' }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}