{% extends "base/base.twig" %}
{% import "base/form.twig" as forms %}
{% block head %}
    {{ parent() }}
    {% block stylesheets %}

    {% endblock %}
{% endblock %}
{% block content %}
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase"> {{ titulo }}</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm green dropdown-toggle" href="javascript:;"
                data-toggle="dropdown"> Accion
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="" id="eliminar">
                        <i class="fa fa-trash-o"></i> Eliminar
                    </a>
                </li>
                {# <li>
                    <a href="javascript:;">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Ban </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:;"> Make admin </a>
                    </li>#}
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <div id="div-form">
            {{ forms.form_open('frmrespuesta', 'frmrespuesta') }}
            {{ forms.token(token) }}
            {{ forms.token(token,'token') }}
            <div class="row">
                <div class="col-md-12">
                    {{ forms.label({'id':'pregunta_id', 'class':'control-label', 'content':'Pregunta'}) }}
                    <select name="pregunta_id" id="pregunta_id" class="form-control select2 select2-button-addons-single-input-group-sm">
                       <option value="0">Seleccione</option>
                       {% for modulo in pregunta %}
                          <option value="{{ modulo.id }}">{{ modulo.pregunta }}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="col-md-6">
                {{ forms.label({'id':'respuestas', 'content':'Respuesta'}) }}
                {{ forms.input_text({'attr':{'name': 'respuestas', 'class':'form-control', 'placeholder':'Respuesta','data':{'validate':'required|max(25)|min(3)', 'type':'alphaspace', 'text':'upper'}}}) }}
            </div>
            <div class="col-md-6">
                <label for="span_small" class="control-label">Estatus</label>
                <div class="clearfix">
                    <div class="clearfix">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default active">Activo
                                <input type="radio" class="toggle" name="activo" value="1" checked="checked">
                            </label>
                            <label class="btn btn-default">Inactivo
                                <input type="radio" class="toggle" name="activo" value="0">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions" style="text-align: center">
        {{ forms.button({'attr':{'id':'guardar', 'class':'btn green uppercase'}}, 'Guardar') }}
        {{ forms.button({'attr':{'id':'cancelar', 'class':'btn yellow uppercase'}}, 'Cancelar') }}
    </div>
</form>
<table class="table  table-striped table-bordered table-hover table-checkable order-column" id="trespuesta">
    <thead>
        <tr>
            <th>
                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                    <input type="checkbox" class="group-checkable" data-set="#trespuesta .checkboxes"/>
                    <span></span>
                </label>
            </th>
            <th>#</th>
            <th>Respuesta</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        {% for lista in listar %}
            {% set estatus = 'Activo' %}
                {% if lista.activo == 0 %}
                    {% set estatus = 'Inactivo' %}
                    {% endif %}
                    <tr class="odd gradeX" id="{{ lista.id }}" data-id="{{ lista.id }}">
                        <td>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" value="{{ lista.id }}"/>
                                <span></span>
                            </label>
                        </td>
                        <td>{{ '%02d'|format(loop.index) }}</td>
                        <td> {{ lista.respuestas }} </td>
                        <td> {{ estatus }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}

    <script src="{{ public_url()~ 'script/respuesta.js' }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}